
/* Demonstrate color  */

h1 {
    color: tomato;
    background-color: dodgerblue;
}

h2 {
    color: whitesmoke;
    background-color: orangered;
}

p {
    color: white;
    background-color: gray;
}