/* Demonstrate flex justify-content  */

 /* justify-content: flex-start; */
.container1 {
    display: flex;
    justify-content: flex-start;
}


/* justify-content: center; */
.container2 {
    display: flex;
    justify-content: center;
}


/* justify-content: flex-end; */
.container3 {
    display: flex;
    justify-content: flex-end;
}


/* justify-content: space-between; */
.container4 {
    display: flex;
    justify-content: space-between;
}


/* justify-content: space-around; */
.container5 {
    display: flex;
    justify-content: space-around;
}


/* justify-content: space-evenly; */
.container6 {
    display: flex;
    justify-content: space-evenly;
}