/* Demonstrate Flex align-items property */

/* flex align-items: stretch; */
.container1 {
    display: flex;
    align-items: stretch; 
}


/* flex align-items: center; */
.container2 {
    display: flex;
    align-items: center;
}


/* flex align-items: flex-start; */
.container3 {
    display: flex;
    align-items: flex-start;
}


/* flex align-items: flex-end; */
.container4 {
    display: flex;
    align-items: flex-end;
}