/* Demonstrate grid gap property  */

.container1 {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;
}

.box {
    /* margin: 20px; */
    padding: 10px;
    background-color: lightblue;
    text-align: center;
    font-size: 30px;
}