/* Demonstrate Text Decoration Thickness  */

.c1 {
    text-decoration-line: underline;
    text-decoration-thickness: auto;
}

.c2 {
    text-decoration-line: underline;
    text-decoration-thickness: from-font;
}

.c3 {
    text-decoration-line: underline;
    text-decoration-thickness: 10px;
}

.c4 {
    text-decoration-line: underline;
    text-decoration-thickness: 70%;
}